cp-pen-styles.
      body{
      margin:0;
      color:#444;
      background:#444;
      font:300 16px/18px Roboto, sans-serif;
      }
      *,:after,:before{box-sizing:border-box}
      .pull-left{float:left}
      .pull-right{float:right}
      .clearfix:after,.clearfix:before{content:'';display:table}
      .clearfix:after{clear:both;display:block}
      .toggle{
      display:none;
      }
      .social-share-wrap{
      width:300px;
      overflow:hidden;
      background:#fff;
      min-height:330px;
      border-radius:8px;
      position:relative;
      box-shadow:0 25px 55px 0 rgba(0,0,0,.21),0 16px 28px 0 rgba(0,0,0,.22);
      }
      .social-share-wrap .cover{
      width:100%;
      height:152px;
      background:#5DBCD2;
      opacity:1;
      -webkit-transform:translateY(0);
      transform:translateY(0);
      -webkit-transition:all .6s ease-in-out .4s;
      transition:all .6s ease-in-out .4s;
      }
      .social-share-wrap .cover .image{
      width:100%;
      opacity:.8;
      }
      .social-share-wrap .content{
      padding:15px;
      position:relative;
      }
      .social-share-wrap .content .title,
      .social-share-wrap .content .text,
      .social-share-wrap .content .price{
      opacity:1;
      -webkit-transform:translateY(0);
      transform:translateY(0);
      -webkit-transition:all .6s ease-in-out .4s;
      transition:all .6s ease-in-out .4s;
      }
      .social-share-wrap .content .label{
      top:-15px;
      right:15px;
      width:40px;
      height:40px;
      color:#eee;
      cursor:pointer;
      font-size:18px;
      line-height:40px;
      text-align:center;
      border-radius:50%;
      position:absolute;
      font-weight:normal;
      background:#34a3be;
      -webkit-transform:scale(1);
      transform:scale(1);
      -webkit-transition:all .3s ease-in-out .6s;
      transition:all .3s ease-in-out .6s;
      }
      .social-share-wrap .content .title{
      margin-bottom:15px;
      text-transform:uppercase;
      -webkit-transition-duration:.4s;
      transition-duration:.4s;
      }
      .social-share-wrap .content .text{
      display:block;
      line-height:24px;
      -webkit-transition-duration:.6s;
      transition-duration:.6s;
      }
      .social-share-wrap .content .price{
      font-size:36px;
      font-weight:500;
      line-height:36px;
      margin:30px 0 15px;
      -webkit-transition-duration:.8s;
      transition-duration:.8s;
      }
      .social-share-wrap .content .buy{
      right:15px;
      bottom:30px;
      padding:8px;
      color:inherit;
      font-weight:400;
      font-size:18px;
      position:absolute;
      text-decoration:none;
      text-transform:uppercase;
      -webkit-transition:all .2s ease-in-out 0s;
      transition:all .2s ease-in-out 0s;
      }
      .social-share-wrap .content .buy:hover{
      background:#ddd;
      }
      .social-share-wrap .social-share-overlay{
      top:0;
      left:0;
      right:0;
      bottom:0;
      padding:15px;
      position:absolute;
      -webkit-transform:scale(0);
      transform:scale(0);
      -webkit-transition:all .3s ease-in-out 0s;
      transition:all .3s ease-in-out 0s;
      }
      .social-share-wrap .social-share-overlay:before{
      top:50%;
      left:50%;
      content:'';
      width:30em;
      height:30em;
      margin-top:-15em;
      border-radius:50%;
      margin-left:-15em;
      position:absolute;
      background:#77bef7;
      -webkit-transform:inherit;
      transform:inherit;
      -webkit-transition:inherit;
      transition:inherit;
      }
      .social-share-wrap .social-share-overlay .close{
      top:0;
      right:0;
      color:#eee;
      width:40px;
      height:40px;
      cursor:pointer;
      font-size:28px;
      font-weight:400;
      line-height:40px;
      text-align:center;
      position:absolute;
      }
      .social-share-wrap .social-share-overlay .social-share-links{
      position:relative;
      }
      .social-share-wrap .social-share-overlay .social-share-links a{
      opacity:0;
      color:#eee;
      margin:auto;
      max-width:75%;
      display:block;
      font-size:18px;
      margin-top:30px;
      line-height:24px;
      margin-bottom:30px;
      padding:10px 15px;
      border:2px solid;
      border-radius:25px;
      text-decoration:none;
      -webkit-transition:all .4s ease-in-out 0s;
      transition:all .4s ease-in-out 0s;
      -webkit-transition-delay:.5s;
      transition-delay:.5s;
      }
      .social-share-wrap .social-share-overlay .social-share-links a:nth-child(1){
      -webkit-transform:translateY(2em);
      transform:translateY(2em);
      -webkit-transition-duration:.4s;
      transition-duration:.4s;
      }
      .social-share-wrap .social-share-overlay .social-share-links a:nth-child(2){
      -webkit-transform:translateY(3em);
      transform:translateY(3em);
      -webkit-transition-duration:.6s;
      transition-duration:.6s;
      }
      .social-share-wrap .social-share-overlay .social-share-links a:nth-child(3){
      -webkit-transform:translateY(4em);
      transform:translateY(4em);
      -webkit-transition-duration:.8s;
      transition-duration:.8s;
      }
      .social-share-wrap .social-share-overlay .social-share-links .fa{
      min-width:30px;
      font-size:24px;
      }
      .toggle:checked + .social-share-wrap .social-share-overlay{
      -webkit-transform:scale(1);
      transform:scale(1);
      }
      .toggle:checked + .social-share-wrap .cover{
      opacity:0;
      -webkit-transform:translateY(-100%);
      transform:translateY(-100%);
      }
      .toggle:checked + .social-share-wrap .content .title,
      .toggle:checked + .social-share-wrap .content .text,
      .toggle:checked + .social-share-wrap .content .price{
      opacity:0;
      -webkit-transform:translateY(100%);
      transform:translateY(100%);
      }
      .toggle:checked + .social-share-wrap .content .label{
      -webkit-transform:scale(0);
      transform:scale(0);
      }
      .toggle:checked + .social-share-wrap .social-share-overlay a{
      opacity:1;
      -webkit-transform:translateY(0);
      transform:translateY(0);
      }


.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
      border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
      margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
      background-color: #ddd;
      border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
      color: #555;
      background-color: #fff;
      border-color: #ddd;
      border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
      color: #fff;
      background-color: #3071a9;
      border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
      color: #428bca;
      background-color: #fff;
      border-color: #428bca;
      border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}
/********************************************************************/
/*** PANEL SUCCESS ***/
.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
      color: #3c763d;
}
.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
      color: #3c763d;
      background-color: #d6e9c6;
      border-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
      color: #3c763d;
      background-color: #fff;
      border-color: #d6e9c6;
      border-bottom-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #3c763d;   
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #3c763d;
}
/********************************************************************/
/*** PANEL INFO ***/
.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
      color: #31708f;
}
.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
      color: #31708f;
      background-color: #bce8f1;
      border-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
      color: #31708f;
      background-color: #fff;
      border-color: #bce8f1;
      border-bottom-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #31708f;   
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #31708f;
}
/********************************************************************/
/*** PANEL WARNING ***/
.with-nav-tabs.panel-warning .nav-tabs > li > a,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
      color: #8a6d3b;
}
.with-nav-tabs.panel-warning .nav-tabs > .open > a,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
      color: #8a6d3b;
      background-color: #faebcc;
      border-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:focus {
      color: #8a6d3b;
      background-color: #fff;
      border-color: #faebcc;
      border-bottom-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #8a6d3b; 
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #8a6d3b;
}
/********************************************************************/
/*** PANEL DANGER ***/
.with-nav-tabs.panel-danger .nav-tabs > li > a,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
      color: #a94442;
}
.with-nav-tabs.panel-danger .nav-tabs > .open > a,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
      color: #a94442;
      background-color: #ebccd1;
      border-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:focus {
      color: #a94442;
      background-color: #fff;
      border-color: #ebccd1;
      border-bottom-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f2dede; /* bg color */
    border-color: #ebccd1; /* border color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #a94442; /* normal text color */  
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ebccd1; /* hover bg color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff; /* active text color */
    background-color: #a94442; /* active bg color */
}